body{
   margin: 0;
   font-family: "poppins", sans-serif;
   overflow: hidden;
   color: white;
}

.background{
    position:fixed;
    width: 100%;
    height: 100%;
    background:linear-gradient(270deg,#d62828, #f77f00, #fcbf49, #2a9d8f);
    background-size: 600% 600%;
    animation: gradientMove 2s ease infinite;
    z-index: -2;

}

.pattern{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:  repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0.2) 0px,
    rgba(0,0,0,0.2) 10px,
    transparent 10px,
    transparent 20px
  );
    opacity: 0.5;
    z-index: -1;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.character{
  width: 260px;
  animation: float 3s ease-in-out infinite;
  border-radius: 20px;
}

.form-section{
    background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  border: 2px solid #fcbf49;
}

input, select {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 10px;
}

button {
background-color:#fcbf49;
color: black;
border: none;
cursor: pointer;
width: 100%;
padding: 10px;
border-radius: 10px;
font-weight: bold;
transition: 0.3s;
}
 
button:hover {
    background-color: #b17702;
  transform: scale(1.05); 
}

#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fcbf49;
}
@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

