body{
   margin: 0;
   font-family: "poppins", sans-serif;
   overflow: hidden;
   color: white;
}


.background{
    position:fixed;
    width: 100%;
    height: 100%;
    background:linear-gradient(-45deg,#000000,#d62828, #f77f00, #fcbf49, #2a9d8f);
    background-size: 600% 600%;
    animation:moveBg 10s ease infinite;
    z-index: -2;

}


@keyframes moveBg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.pattern{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image:  repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0.2) 0px,
    rgba(0,0,0,0.2) 10px,
    transparent 10px,
    transparent 20px
  );
    opacity: 0.5;
    z-index: -1;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    gap: 50px;
    padding: 40px;
    width: 100%;

}

.character{
  width: 350px 100%;
  animation: float 3s ease-in-out infinite;
  border-radius: 20px;
  height: 100vh;
   filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.5));
}

.image-section{
    display: flex;
    width: 10%;
    height: 100%;
    object-fit: cover;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}


.form-section {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

input, select {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 10px;
}


button {
background-color:#fcbf49;
color: black;
border: none;
cursor: pointer;
width: 100%;
padding: 10px;
border-radius: 10px;
font-weight: bold;
transition: 0.3s;
}
 
button:hover {
  transform: scale(1.05);
  background: #ffdd57;
}

#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(37, 30, 30);
    animation: fadeIn 1s ease;
    transition: all 0.5s ease;
    transform: scale(0.8);
}

#result.show {
    transform: scale(1);
    background-color: #000000;
}

@keyframes fadeIn{
     body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: white;

    }}

.footer {
  text-align: center;
  padding: 15px;
  background: linear-gradient(90deg, #fcbf49, #ff6b6b);
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
   



