body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f89f46;
    text-align: center;
}

.container{
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

input, select, button {
display: block;
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
}